* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.first {
    width: 100vw;
    height: 7vh;
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0%;
    z-index: 2;

}

.logo {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 90px;
    

}

.logo img {
    /* width: 50px;
    height: 5vh; */
    border-radius: 50%;
}

.logop {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 19px;
    position: relative;
    left: 10px;
    color: rgb(199, 30, 30);


}

.menu {
    width: 30%;
}

.menu ul {
    width: 100%;
    height: 5vh;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    position: relative;
    left: 350px;
}

.menu ul li {
    list-style-type: none;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(158, 148, 148);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    top: 8px;
}

.btn {
    width: 8.5%;
    height: 5vh;
    position: relative;
    left: 350px;
    border-radius: 40px;
    border: none;
    color: rgb(239, 13, 13);
    font-size: 14px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bolder;
    cursor: pointer;
}





.third {
    display: flex;
    position: relative;
    /* align-items: center; */
    /* justify-content: center; */
}

.third h5 {
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(14, 171, 33);
    position: relative;
    left: 570px;
    top: 62px;
    
}

.third h1{
    position: relative;
    top: 98px;
    left: 375px;
    font-size: 43px;
    font-style: oblique;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


 .menu-containor {
    width: 80vw;
    height: 70vh;
    background-color: rgb(228, 232, 241);
    display: grid;
    grid-template-columns: auto auto;
    gap:10px;
    margin-top: 30px;
    position: relative;
    top: 88px;
    left: 130px;
    border-radius: 50px;
}

.grid {

    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* position: relative;
    left: 80px; */
    width: 20vw;
    height:10vh;

}

 .grid h6{
    position: relative;
    left: 160px;
    top: -41px;
    width: 7vw;
    height: 24vh;
    background-color: rgb(88, 173, 15);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}   

.grid h4{
    position: relative;
    left: 120px;
    top: -30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.grid h8{
    position: relative;
    left: 240px;
    top: -51px;
}

.grid p{
    position: relative;
    left: 120px;
    top: -40px;
    color: rgb(92, 94, 95);
}

.grid img {
    width: 80px;
    display: flex;
    position: relative;
    top: 40px;
    left: 30px;
    border-radius: 15px;
}